body {
    background-image: url("https://cdn.discordapp.com/attachments/1078890940606976001/1165298237666758707/cbla-mockup-bg.png?ex=6546578e&is=6533e28e&hm=0678306eda191cb32367fd29458ba5632a404d68461d6ad6967c0842868410ed&");
    background-size: cover;
    color: aliceblue;
}