body {
    background-image: url("https://cdn.discordapp.com/attachments/1078890940606976001/1165694516464980099/image.png?ex=6547c89e&is=6535539e&hm=046ad24e70dc1b51761a4303464e8129f12e5acd9fe37893e039695c8ab4036a&");
    background-size: cover;
    color: aliceblue;
}
.green {
    background-color: greenyellow;
    width: 20px;
    height: 20px;
    float: right;
    margin-right: 1%;
}
.topnav {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.botnav {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.grid {
    display: grid;
    column-gap: -50%;
    grid-template-columns: auto auto;
    justify-content:space-evenly;
}
button {
    margin-left: 50%;
}